@import url('https://fonts.googleapis.com/css?family=Crimson+Text: 100, 200, 300, 400, 500, 600, 700, 800, 900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans: 100, 200, 300, 400, 500, 600, 700, 800, 900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}


:root
{
    /* Colors */
    --blue-color: #02529C;
    --white-color: #fff;
    --red-color: #dc1e35;

    /* Radius */
    --base-border-radius: 10px;

    /* Shadows */
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}


body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main
{
    padding: 30px;
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Crimson Text';
}

h1
{
    font-size: 3em;
}

h2
{
    font-size: 2em;
}

h3
{
    font-size: 1.55em;
}

h4
{
    font-size: 1.22em;
}

a
{
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

a.active
{
    border-bottom: 2px solid var(--red-color);
}

li
{
    list-style: none;
}

img, video
{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

label
{
    font-family: 'Crimson Text';
    display: block;
    text-align: left;
    font-size: 20px;
}