@media screen and (min-width: 768px)
{

    section:not(:first-child)
    {
        height: auto;
    }

    section:not(:first-child) header h1
    {
        font-size: 50px;
    }

    /* Slider */
    .slide .content.slide-content
    {
        width: 40%;
    }

    .slide .slide-content p
    {
        font-size: 25px;
    }

    .container.opening-hours-slider-container
    {
        display: none;
    }

    /* Gallery */
    section.gallery .gallery-image-container
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-image-container img
    {
        height: 100%;
        width: 100%;
    }

    /* Footer */
    footer.footer
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    footer.footer .contact
    {
        display: none;
    }

    footer.footer .newsletter-and-socials
    {
        position: relative;
        left: 50%;
    }

    footer.footer hr.divider
    {
        display: none;
    }

    footer.footer .newsletter-and-socials .container.socials-container .contacts
    {
        display: flex;
    }


}